.content-section-wrapper {
    background-color: var(--light-gray);
    border-radius: 0.9rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid #BEC3CB;
}

h2 {
    color: #002332;
    font-weight: bold;
    font-size: 3rem;
}

.cards-wrapper {
    padding: 1.7rem 3.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(80vh - 8rem);
}
