<div class="campos-filtro">
    <div class="grupoA">
        <div class="input-filtro">
            <input type="text" id="campoTexto1" placeholder="Continente">
            <img src="assets/icons/actions/icon-cancel-white.svg" alt="Limpar" class="btn-limpar"
                onclick="document.getElementById('campoTexto1').value = ''">
        </div>
        <div class="input-filtro">
            <select id="campoTexto2" placeholder="Via de chegada">
                <option value="">Via de chegada</option>
                <option value="1">Avião</option>
                <option value="2">Navio</option>
            </select>
            <img src="assets/icons/actions/icon-cancel-white.svg" alt="Limpar" class="btn-limpar"
                onclick="document.getElementById('campoTexto2').value = ''">
        </div>
        <div class="input-filtro">
            <input type="number" id="campoTexto3" placeholder="Ano">
            <img src="assets/icons/actions/icon-cancel-white.svg" alt="Limpar" class="btn-limpar"
                onclick="document.getElementById('campoTexto3').value = ''">
        </div>
    </div>
    <div class="grupoB">
        <div class="input-filtro">
            <input type="text" id="campoTexto4" placeholder="País">
            <img src="assets/icons/actions/icon-cancel-white.svg" alt="Limpar" class="btn-limpar"
                onclick="document.getElementById('campoTexto4').value = ''">
        </div>
        <div class="input-filtro">
            <input type="text" id="campoTexto5" placeholder="Desembarque">
            <img src="assets/icons/actions/icon-cancel-white.svg" alt="Limpar" class="btn-limpar"
                onclick="document.getElementById('campoTexto5').value = ''">
        </div>
        <div class="input-filtro">
            <input type="text" id="campoTexto6" placeholder="Mês">
            <img src="assets/icons/actions/icon-cancel-white.svg" alt="Limpar" class="btn-limpar"
                onclick="document.getElementById('campoTexto6').value = ''">
        </div>
    </div>
</div>