<div class="campos-filtro">
    <div class="grupo">
        <app-select-filtered [inputData]="this.basicDataService.continentes$" [placeHolder]="'Continentes'" [searchTerm]="this.filterContinente"></app-select-filtered>
        <app-select-filtered [inputData]="this.basicDataService.vias$" [placeHolder]="'Vias'" [searchTerm]="this.filterVia" ></app-select-filtered>
        <app-select-filtered [inputData]="this.basicDataService.anos$" [placeHolder]="'Ano'" [searchTerm]="this.filterAno"></app-select-filtered>
    </div>
    <div class="grupo">
        <app-select-filtered [inputData]="this.basicDataService.paises$" [placeHolder]="'Paises'" [searchTerm]="this.filterPais"></app-select-filtered>
        <app-select-filtered [inputData]="this.basicDataService.federacoesBrasil$" [placeHolder]="'Chegadas'" [searchTerm]="this.filterFederacoes"></app-select-filtered>
        <app-select-filtered [inputData]="this.meses$" [placeHolder]="'Mes'" [searchTerm]="this.filterMes"></app-select-filtered>
</div>