<div cdkDropList (cdkDropListDropped)="drop($event)" class="card-filter-wrapper">
    @for (filter of filterList(); track $index) {
        <div class="card-filter" cdkDrag>
            <img src="assets/card-filter/icon-filter.svg" class="filter-icon">
            <h2 class="filter-name">{{filter.nome}}</h2>
            <ul class="filter-text">
                @for (filterOption of getValidFilterOptions(filter); track $index) {
                    <li>● {{filterOption.value}}</li>
                }
            </ul>
            <a class="filter-anchor">
                <img src="assets/card-filter/icon-anchor.svg" class="filter-anchor-icon">
            </a>
        </div>
    }
</div>
