<div class="container">
    <div class="card">
      <div class="menu-icon">
        <img src="assets/icons/misc/icon-user-menu.svg" alt="Menu" />
      </div>
      <div class="profile-picture">
        <img src="assets/icons/misc/icon-user-template.svg" alt="Foto de perfil" />
      </div>
      <h2>{{userName}}</h2>
      <h3>Administrador</h3>

      <div class="contact-info">
       
        <form>
          <label for="telefone">Telefone:</label>
          <input type="text" id="telefone" placeholder="11 0000-0000" />
          
          <label for="email">Email:</label>
          <input type="email" id="email" placeholder="email@exemplo.com" />

          <p class="alterar-senha-link">Alterar senha</p>

          <input type="password" placeholder="Nova senha" />
          <input type="password" placeholder="Digite novamente" />

          <div class="button-alterar">
            <button type="submit">Alterar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


