.Painel-de-controle-historico {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EDF2F1;
    padding: 1.7rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}


.kpis-cards {
    display: flex;
    gap: 2rem;
}

.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 44rem;
    max-height: 15rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    gap: 0.7rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.group-A {
    display: flex;
    gap: 1rem;
}

.group-B {
    display: flex;
    gap: 2rem;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    gap: 0.5rem;
}

.filter-group #select-option {
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border-color: black;
    border: solid 0.2px;
}

.grafico-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.grafico {
    width: 150rem;
    height: 55rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.grafico-card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #3E5744;
    border-radius: 1rem 1rem 0 0;
    height: 3.4rem;
    color: #FFFFFF;
}