<div class="pup-up">
  <div class="card-perfil">
    <img src="assets/icons/misc/icon-user-template.svg" alt="">
    <h1>Nome do usuário</h1>
    <h2>emailCorporativo64.com</h2>
  </div>
  <div class="campos-pup-up">
    <div class="campo" routerLink="/configuracoes">
      <img src="assets/icons/navigation/icon-cog.svg" alt="Configurações">
      <h1>Configurações</h1>
    </div>
    <div class="campo">
      <img src="assets/icons/navigation/icon-exit.svg" alt="Sair">
      <h2>Sair</h2>
    </div>
  </div>
</div>