<div class="card-users-wrapper">
@for(user of usersList | async ; track $index){
    <div class="card-users">
        <div class="user-info">
            <img id="icon-user" src="assets/icons/misc/icon-user-template.svg">
            <div class="informacoes-user">
                <h2 class="user-name">{{user.NOME | titlecase}}</h2>
                <p>{{user.EMAIL}}</p>
                <h3 class="user-acesso">{{user.TIPO}}</h3>
                
            </div>
        </div>
        <div class="icons-config">
            <img class="icon" src="assets/icons/actions/icon-userAccess-config.svg" (click)="btnConfig(user)">
        </div>
    </div>
}
</div>