.card-event-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.card-event {
    background-color: white;
    display: flex;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-event:hover .buttons {
    visibility: initial;
}

.color-bar {
    width: 1.5rem;
    border-radius: 1.5rem;
}

.text {
    max-width: 24.8rem;
    margin-right: 2.3rem;
    margin-left: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-name {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 2%;
}

.card-description {
    color: #737373;
    font-size: 2rem;
}

.top {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1.6rem;
}

.dot-status {
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    background-color: var(--lake-green);
}

.internal {
    width: 100%;
    display: flex;
    padding: 1.2rem 1rem 1.2rem 0;
}

.date-end {
    color: #737373;
    font-size: 1.6rem;
}

.buttons {
    display: flex;
    visibility: hidden;
    align-items: center;
    gap: 2rem;
    justify-content: end;
}

.btn-icon {
    background-color: transparent;
    cursor: pointer;
}

.btn-icon:hover {
    scale: 1.05;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 1.6rem;
    color: var(--lake-green);
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    font-size: 1.6rem;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;
    border: 2px solid var(--lake-green);
    width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border: 2px solid var(--navy-blue);
}

.form-group input[type="color"] {
    padding: 0;
    border: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 100%;
    outline: none;
}

.form-group textarea {
    resize: none;
    height: 10rem;
}

[modal-footer] {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

[modal-footer] .btn-cancel {
    background-color: rgb(216, 32, 75);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

[modal-footer] .btn-cancel:hover {
    background-color: rgb(216, 32, 75, 0.8);
}

[modal-footer] .btn-save:disabled {
    background-color: rgb(88, 88, 88);
    cursor: not-allowed;
}

[modal-footer] .btn-save {
    background-color: var(--sead-green);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

[modal-footer] .btn-save:hover:not(:disabled) {
    background-color: var(--sead-green, 0.8);
}

