@if(!isLoading()){
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="card-filter-wrapper">
    @for (filter of filterList(); track $index) {
        <div class="card-filter" cdkDrag>
            <img src="assets/icons/actions/icon-filterCard-grab.svg" class="filter-icon">
            <div class="wrapper">
                <h2 class="filter-name">{{filter.NOME}}</h2>
                <ul class="filter-text">
                    @for (filterOption of getFilterTransformedValues(filter); track $index) {
                        <li>● {{filterOption}}</li>
                    }
                </ul>
            </div>
            <div class="btn-delete" (click)="deleteFilter(filter)">
                <img src="assets/icons/actions/icon-trash.svg" class="filter-action">
            </div>
            <a class="filter-anchor">
                <img routerLink="/tendencias" src="assets/icons/actions/icon-filterCard-anchor.svg" class="filter-action filter-anchor-icon" (click)="useFilter(filter.ID_FILTRO)">
            </a>
        </div>
    }
</div>
} @else {
    <app-loader></app-loader>
}

