header {
    /* background: var(--azulFundo); */
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: fixed;
    width: 100%;
    height: fit-content;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
header img{
    height: fit-content;
    width: 20rem;
    object-fit: cover;
}

header ul {
   display: flex;
   flex-direction: row;
   gap: 2rem;
}

header .container {
    width: 180rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}