* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: url(../assets/Design\ sem\ nome\ \(2\).png) no-repeat center center/cover;
}

body {
    display: flex;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Mantida a altura */
    width: 70%; /* Voltada para 70% */
    margin: auto; /* Centraliza a container */
    border-radius: 1rem; /* Adicionando bordas arredondadas */
    overflow: hidden; /* Para garantir que o conteúdo não ultrapasse as bordas arredondadas */
}

.esquerda {
    width: 100%;
    height: 30vh; /* Mantida a altura */
    background: url('../assets/image1.png') no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1vh; /* Mantido */
}

.esquerda button {
    width: 40%; /* Ajustado para 60% */
    padding: 1.5vh; /* Mantido */
    background-color: #818B6B;
    color: black;
    border: none;
    border-radius: 0.8vw; /* Mantido */
    font-size: 1.3vw; /* Mantido */
    cursor: pointer;
    margin-top: 3vh; /* Mantido */
}

.direita {
    width: 100%;
    background-color: #dfd9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw; /* Mantido */
    position: relative;
    flex-grow: 1;
}

.barra-superior {
    width: 100%;
    height: 20vh;
    background-color: #3E5744;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-imagem {
    max-height: 70%; /* Mantida a altura */
    cursor: pointer;
}

.container-formulario {
    margin-top: 10vh; /* Mantida a margem */
    width: 85%; /* Mantida a largura */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-login {
    font-size: 2.5vw; /* Mantido */
    font-weight: bold;
    margin-bottom: 1rem; /* Mantido */
    text-align: center;
}

.campo-input {
    width: 70%; /* Mantido */
    height: 2.5vw; /* Mantido */
    padding: 1.5vh; /* Mantido */
    margin: 1vh 0;
    margin-bottom: 3vw; /* Mantido */
    background-color: #BEBABA;
    border: none;
    border-radius: 0.8vw; /* Mantido */
    font-size: 1vw; /* Mantido */
}

.botao-login {
    width: 60%; /* Mantido */
    padding: 1.5vh; /* Mantido */
    background-color: #818B6B;
    color: black;
    border: none;
    border-radius: 0.8vw; /* Mantido */
    font-size: 1vw; /* Mantido */
    cursor: pointer;
    margin-top: 4vh; /* Mantido */
}

.esqueceu-senha {
    margin-top: 1vh;
    font-size: 1.3vw; /* Mantido */
    color: black;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .esquerda {
        width: 50%;
        height: 80vh; /* Mantida a altura */
    }
    .direita {
        width: 50%;
        height: 80vh; /* Mantida a altura */
    }
    .botao-login, .campo-input {
        font-size: 1.3vw; /* Mantido */
    }
    .esqueceu-senha {
        font-size: 0.9vw; /* Mantido */
    }
}

button {
    font-weight: bolder;
}

.logo-imagem {
    max-height: 10rem;
}