@media (max-width: 1300px) {
    .corpoInicio {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #slogan {
        font-family: "Plus Jakarta Sans";
        font-size: 2.8rem;
        padding-inline: 5rem;
        width: 30%;
        color: #fff;
        text-align: center;
    }

    #imgQuemSomosMenor, #imgQuemSomosMaior {
        display: none;
    }

    .QuemSomosTexto {
        justify-content: center;
    }

    h2 {
        font-size: 4rem;
        text-align: center;
    }

    .QuemSomosTexto .boxTexto p {
        font-size: 2rem;
        padding: 5rem;
    }

    .imgAviao {
        display: none;
    }
    .headerNossosServicos h2 {
        font-size: 3rem;
    }

    .cardNossoServico {
        
        width: 20rem;
        height: fit-content;
        background-color: #528763;
        margin: 0;
        border: 2px solid black;
        
    }

    .boxCardNossoServico {
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .iconNossoServico {
        display: none;
    }

    #voceSabia .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #voceSabia h2 {
        padding-left: 0;
    }

    #contato {
        display: none;
    }
    .col-6 {
        width: 100%;
    }

    #infoContato .container {
        flex-direction: column;
    }

    .listaContato  {
        justify-content: center;
        width: 50%;
    }

    .containerInformacao {
        justify-content: center;
        align-items: center;
    }

    .box-footer {
        flex-direction: column;
        gap: 2rem;
    }

   .item-footer {
    width: fit-content;
   }

    .item-footer:nth-child(3) {display: none;}

    .sloganContato p {
        font-family: 'Outfit';
        font-size: 1.7rem;
        width: 20rem;
        text-align: center;
        color: #fff;
    }
    
    .sloganContato img {
        width: 15rem;
        height: fit-content;
        object-fit: contain;
    }
    
    .boxBeneficios {
        flex-direction: column;
        align-items: center;
    }
    

    .cardBeneficios {
        margin-left: 0;
    }

    .iconCard {
        left: 2rem;
        
     }
    
}