@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #EAEAEA;
}

:target {
    scroll-margin-top: 140px; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 5rem 0;
}

#Inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: url('../assets/image/fundo\ imagem\ sobre\ nós.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70rem;
    padding: 30rem 0;
}

.corpoInicio {
    display: flex;
    width: 70%;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

#Inicio .container {
    height: 5rem !important;
    width: 100%;
    display: flex;
}

#slogan {
    font-family: "Plus Jakarta Sans";
    font-size: 3.2rem;
    width: 65rem;
    color: #fff;
}

.buttonInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9D99C;
    border-radius: 4rem;
    height: 4rem;
    width: 18rem;
    padding: 2rem;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Plus Jakarta Sans';
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.40s ease;
    margin-left: -2rem;
}

.buttonInicio > span {
    height: fit-content;
}

.buttonInicioInterno {
    display: none;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -105%;
    border-radius: 4rem;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: left 0.40s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.buttonInicio:hover .buttonInicioInterno {
    display: flex;
    left: -50px;
}

.buttonInicio:hover{
    color: #F9D99C;
}

#Empresa {
    flex-direction: column;
    background-color: #3E5744; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 66rem;
    padding: 10rem 0;
}

.containerEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.sobreEmpresa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: 3rem;
    font-family: 'Outfit';
    text-align: center;
    color: #fff;
    padding: 10rem 10rem 6rem;
    margin: 4rem 0 0 0;
}

.sobreEmpresa p{
    padding: 4rem;
}

.iconLogo {
    width: 550px;
    height: auto;
    display: flex;
    justify-content: center;
}

.boxEmpresa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
}

.cardValores {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    padding-inline: 3.2rem;
}

.swiper, .swiper-voceSabia {
    width: 90%;
    overflow-x: hidden;
}

.headerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: rem;
}

.headerCard h3 {
    font-size: 3.1rem;
    font-family: 'Outfit';
    text-align: center;
    width: 55%;
}

.iconCard {
    top: -2rem;
    left: 13rem;
    width: 5rem;
}

.corpoCard p {
    padding: 15px 0px 0px 0px;
    font-size: 2.6rem;
    font-family: 'Outfit';
    text-align: center;
}

#Motivacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56vw;
    padding: 20rem;
}

.container-motivacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 0 0;
}

.box-motivacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.box-motivacao h2{
    font-size: 4.5rem;
    font-family: "Plus Jakarta Sans";
    text-align: center;
    white-space: nowrap;
}

.imagens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-top: 6rem;
}

#imagem-grande{
    width: 324px;
    height: 487px;
}

#imagens-menores img {
    width: 430px;
    height: 287px;
}

#imagens-menores{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 3.4rem;
}

.sloganMotivacao {
    font-size: 3.6rem;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    max-width: 80%;
}

#Equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70rem;
    background-color: #fff;
}

#Equipe .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.boxEquipe{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#Equipe .container .titulo {
    font-size: 4.5rem;
    font-family: "Plus Jakarta Sans";
    text-align: center;
    white-space: nowrap;
}

.container .imagem-grande {
    width: 346.58px;
    height: 520px;
}

.imagens-equipe-container {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    gap: 3rem;
}

.imagens-equipe-container .imagens-Equipe-3 {
    display: flex;
    gap: 3rem;
}

.imagens-equipe-container .imagens-Equipe-6 {
    display: flex;
    gap: 3rem;
}

.imagens-Equipe-3 img {
    width: 281px;
    height: 247px;
    border-radius: 30px;
}

.imagens-Equipe-6 img {
    width: 281px;
    height: 247px;
    border-radius: 30px;
}

#contato{
    background-color: #3E5744;
    padding: 1rem;
}

#contato .container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

#contato .iconContato{
    width: 10%;
    height: 10rem;
}

#contato .container p {
    color: white;
    font-size: 3rem;
    font-family: 'Outfit';
    white-space: nowrap;
    overflow: hidden;
}

#infoContato {
    background-color: #1C2529;
}

.sloganContato {
    display: flex;
    gap: 3rem;
}

.sloganContato p {
    font-family: 'Outfit';
    font-size: 2.4rem;
    width: 40rem;
    text-align: center;
    color: #fff;
}

.sloganContato img {
    width: 20rem;
    height: fit-content;
    object-fit: contain;
}

.col-6 {
    width: 50vw;
    height: fit-content;
}

.containerInformacao {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;

}

.listaContato {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.listaContato li{
    display: flex;
    gap: 3rem;

}

.listaContato li img {
    object-fit: contain;
    width: 4rem;
    height: fit-content;
}

.boxInfoContato {
    font-family: 'Outfit';
}
.boxInfoContato h5{
    font-size: 1.6rem;
}

.boxInfoContato p {
    font-size: 1.4rem;
    font-weight: 100;
}

.containerFormularioContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.boxFormularioContato {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    width: 37rem;
    padding: 3rem;
    border-radius: 1rem;
    gap: 4rem;
}

h4 {
    font-size: 2.4rem;
    font-family: 'Plus Jakarta Sans';
}

.boxFormularioContato form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.boxFormularioContato form input {
    height: 4rem;
    border: 1px solid black;
    width: 100%;
    color: #000;
    font-family: 'Outfit';
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.boxFormularioContato form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    resize: none;
    border-radius: 0.5rem;
    color: #000;
    font-family: 'Outfit';
    font-size: 1.6rem;
}

.boxFormularioContato form button {
    background-color: #F8DDA6;
    color: white;
    font-weight: bold;
    width: 19rem;
    height: fit-content;
    font-size: 2.1rem;
    font-family: 'Plus Jakarta Sans';
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.col-footer {
    width: 25rem;
}

footer {
    background-color: #1C2529;
    border-top: 0.5rem solid #528763;

}

footer .container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.box-footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 3rem;
}

.item-footer {
    display: flex;
    gap: 2rem;
    width: 25vw;
}
.item-footer p {
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans';
}

.box-footer p {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans';
    color: #fff;
}

#infoContato .container{
    display: flex;
}

#contato .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swiper-slide{
    width: fit-content !important;
    margin: auto !important;
}

.imagens-equipe-container .img-person p{
    margin-top: 1.2rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;
}

.imagens-equipe-container .img-person img {
    object-fit: cover;
}