* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-self: center;
    width: 170rem;
    height: 10vh;

}

#Inicio {
    background-image: url('../assets/image/fundo\ imagem\ sobre\ nós.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
}


#slogan {
    font-family: "Plus Jakarta Sans";
    font-size: 4.2rem;
    width: 71rem;
    color: #fff;
}

.slogan-highlight {
    color: #DADBB1;
    font-weight: bold;
}


.buttonInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9D99C;
    border-radius: 4rem;
    height: 100%;
    width: 36%;
    padding: 24px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Plus Jakarta Sans';
    font-size: 1.8rem;
    font-weight: 600;
    margin: 30px;
}

.buttonInicioInterno {
    color: black;
    font-weight: bold;
}

.corpoInicio {
    margin: 115px;
}

.containerInformacoes {
    width: 100%;
    height: 50.1rem;
    background-color: #3E5744;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.containerFrase {
    font-size: 3.9rem;
    font-family: 'Outfit';
    text-align: center;
    min-height: 4rem;
    color: #fff;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconLogo {
    width: 550px;
    height: auto;
    display: flex;
    justify-content: space-between;
}




.boxEmpresa {
    background-color: #EAEAEA;
    width: 100%;
    height: 150rem;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.cardEmpresa {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    bottom: 8rem;
    width: 33rem;
    height: 45rem;
    border-radius: 1rem;
    padding-inline: 3.2rem;
   
}

.headerCard {
    height: 22.5rem;
    font-size: 2.9rem;
    font-family: 'Outfit';
}

.corpoCard p {
    font-size: 2.9rem;
    font-family: 'Outfit';
    text-align: center;
    flex-grow: 1;
}



.NossaMotivacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.NossaMotivacao .titulo {
    font-size: 8rem;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    width: 100%;
    padding: 4rem;
    
}

.imagens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
}

.imagem-grande {
    width: 50rem;
}

.imagens-menores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens-menores {
    display: flex;
    gap: 15px;
    margin-bottom: 2rem;
}

.imagens-menores img {
    width: 60rem;
}

.sloganMotivacao {
    font-size: 4.5rem;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin-top: 20px;
    max-width: 80%;
}




.nossaEquipe {
    margin-bottom: 10rem;
}

.nossaEquipe .titulo {
    font-size: 8rem;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    width: 100%;
    padding: 4rem;
}

.nossaEquipe .titulo .imagens-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossaEquipe .titulo .imagens-container .imagem-grande {
    width: 50rem;
}

.imagens-equipe-container .imagens-Equipe-3 {
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
}

.imagens-equipe-container .imagens-Equipe-6 {
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
}

.imagens-Equipe-3 img {
    width: 30rem;
    border-radius: 30px;
}

.imagens-Equipe-6 img {
    width: 30rem;
    border-radius: 30px;
}




#contato{
    background-color: #3E5744;
    padding: 1rem;
}

#contato .container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

#contato .iconContato{
    width: 10%;
    height: 10rem;
}

#contato .container p {
    color: white;
    font-size: 3rem;
    font-family: 'Outfit';
    white-space: nowrap;
    overflow: hidden;
}

#infoContato {
    background-color: #1C2529;
}

.sloganContato {
    display: flex;
    gap: 3rem;
}

.sloganContato p {
    font-family: 'Outfit';
    font-size: 2.4rem;
    width: 40rem;
    text-align: center;
    color: #fff;
}

.sloganContato img {
    width: 20rem;
    height: fit-content;
    object-fit: contain;
}

.col-6 {
    width: 50vw;
    height: fit-content;
}

.containerInformacao {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;

}

.listaContato {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.listaContato li{
    display: flex;
    gap: 3rem;

}

.listaContato li img {
    object-fit: contain;
    width: 4rem;
    height: fit-content;
}

.boxInfoContato {
    font-family: 'Outfit';
}
.boxInfoContato h5{
    font-size: 1.6rem;
}

.boxInfoContato p {
    font-size: 1.4rem;
    font-weight: 100;
}

.containerFormularioContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.boxFormularioContato {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    width: 37rem;
    padding: 3rem;
    border-radius: 1rem;
    gap: 4rem;
}

h4 {
    font-size: 2.4rem;
    font-family: 'Plus Jakarta Sans';
}

.boxFormularioContato form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.boxFormularioContato form input {
    height: 4rem;
    border: 1px solid black;
    width: 100%;
    color: #000;
    font-family: 'Outfit';
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.boxFormularioContato form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    resize: none;
    border-radius: 0.5rem;
    color: #000;
    font-family: 'Outfit';
    font-size: 1.6rem;
}

.boxFormularioContato form button {
    background-color: #F8DDA6;
    color: white;
    font-weight: bold;
    width: 19rem;
    height: fit-content;
    font-size: 2.1rem;
    font-family: 'Plus Jakarta Sans';
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.col-footer {
    width: 25rem;
}

footer {
    background-color: #1C2529;
    border-top: 0.5rem solid #528763;

}

footer .container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.box-footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 3rem;
}

.item-footer {
    display: flex;
    gap: 2rem;
    width: 25vw;
}
.item-footer p {
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans';
}

.box-footer p {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans';
    color: #fff;
}














































.container {
    display: flex;
    width: 170rem;
    height: fit-content;
}


.buttonInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9D99C;
    border-radius: 4rem;
    height: 6rem;
    width: 20rem;
    padding: 5px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Plus Jakarta Sans';
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 6;
    transition: color 0.40s ease;
}


.buttonInicioInterno {
    display: none;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -105%;
    border-radius: 4rem;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: left 0.40s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.buttonInicio:hover .buttonInicioInterno {
    display: flex;
    left: -50px;
}

.buttonInicio:hover{
    color: #F9D99C;
} 







#contato{
    background-color: #3E5744;
    padding: 1rem;
}

#contato .container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

#contato .iconContato{
    width: 10%;
    height: 10rem;
}

#contato .container p {
    color: white;
    font-size: 3rem;
    font-family: 'Outfit';
    white-space: nowrap;
    overflow: hidden;
}

#infoContato {
    background-color: #1C2529;
}

.sloganContato {
    display: flex;
    gap: 3rem;
}

.sloganContato p {
    font-family: 'Outfit';
    font-size: 2.4rem;
    width: 40rem;
    text-align: center;
    color: #fff;
}

.sloganContato img {
    width: 20rem;
    height: fit-content;
    object-fit: contain;
}

.col-6 {
    width: 50vw;
    height: fit-content;
}

.containerInformacao {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;

}

.listaContato {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.listaContato li{
    display: flex;
    gap: 3rem;

}

.listaContato li img {
    object-fit: contain;
    width: 4rem;
    height: fit-content;
}

.boxInfoContato {
    font-family: 'Outfit';
}
.boxInfoContato h5{
    font-size: 1.6rem;
}

.boxInfoContato p {
    font-size: 1.4rem;
    font-weight: 100;
}

.containerFormularioContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.boxFormularioContato {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    width: 37rem;
    padding: 3rem;
    border-radius: 1rem;
    gap: 4rem;
}

h4 {
    font-size: 2.4rem;
    font-family: 'Plus Jakarta Sans';
}

.boxFormularioContato form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.boxFormularioContato form input {
    height: 4rem;
    border: 1px solid black;
    width: 100%;
    color: #000;
    font-family: 'Outfit';
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.boxFormularioContato form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    resize: none;
    border-radius: 0.5rem;
    color: #000;
    font-family: 'Outfit';
    font-size: 1.6rem;
}

.boxFormularioContato form button {
    background-color: #F8DDA6;
    color: white;
    font-weight: bold;
    width: 19rem;
    height: fit-content;
    font-size: 2.1rem;
    font-family: 'Plus Jakarta Sans';
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.col-footer {
    width: 25rem;
}

footer {
    background-color: #1C2529;
    border-top: 0.5rem solid #528763;

}

footer .container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.box-footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 3rem;
}

.item-footer {
    display: flex;
    gap: 2rem;
    width: 25vw;
}
.item-footer p {
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans';
}

.box-footer p {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans';
    color: #fff;
}


