<div class="select-wrapper">
  @if (label){
  <label [for]="id" class="select-label">{{ label }}</label>
  }
  <select
    [id]="id"
    [value]="value"
    [disabled]="disabled"
    [class.error]="hasError"
    (change)="onSelectionChange($event)"
    (blur)="onBlur()"
    class="custom-select"
  >
    <option value="" disabled>{{ placeholder }}</option>
    @for(option of options; track value){
    <option [value]="option.value">
      {{ option.label }}
    </option>
    }
  </select>
  @if(hasError){
  <div class="error-message">
    {{ errorMessage }}
  </div>
  }
</div>
