<div class="Painel-de-controle-tendencias">
    <div class="kpis-cards">
        <app-card-kpi [titulo]="`Total de turistas ${anoVariacao()}`" [conteudoKpi]="kpiTotal$"></app-card-kpi>
        <app-card-kpi [titulo]="`Variação ${anoVariacao()-1} - ${anoVariacao()}`" [conteudoKpi]="kpiVariacaoAno$"></app-card-kpi>
        <app-card-kpi [titulo]="`Varição ${mes()} ${anoVariacao()-1} - ${anoVariacao()}`"[conteudoKpi]="kpiVariacaoMes$"></app-card-kpi>
    </div>
    <div class="filtro">
        <div class="header-filtro">
            <div class="filtro-icon">
                <img id="icon-filtro" class="icon" src="assets/icons/misc/icon-filtro.svg">
                <h1>Filtro:</h1>
            </div>
            <input id="nome-filtro" type="text" placeholder="Nome do filtro">
            <div class="icons-header">
                <div id="favoritar"><img class="icon" src="assets/icons/actions/icon-star.svg" onclick="favoritar()"></div>
                <div id="excluir"><img class="icon" src="assets/icons/actions/icon-trash.svg" onclick="excluir()"></div>
                <div id="expandir"><img class="icon" src="assets/icons/actions/icon-filter-popup.svg" onclick="mostrarFiltrosSalvos()">
                </div>
            </div>
        </div>
        <app-input-filter></app-input-filter>
    </div>
</div>
<div class="graficos-card">
    <div class="grafico1">
        <h2>Ranking de Origens dos Turistas</h2>
        <div class="chart-placeholder">
            <!-- espaço para colocar o gráfico -->
            <app-bar-chart-all></app-bar-chart-all>
        </div>
    </div>
    <div class="grafico2">
        <h2>{{"Fluxo Turístico Mensal "+anoVariacao()}}</h2>
        <div class="chart-placeholder">
            <!-- espaço para colocar o gráfico -->
            <app-combo-chart-all [chartData]="barChartAll$"></app-combo-chart-all>
        </div>
    </div>
</div>