<div class="container">
    <div class="grid">
        <app-content-section iconUrl="assets/content-section/icon-eventos.svg" title="Eventos" btnEvent="true">
            <app-card-event #cardEvent></app-card-event>
        </app-content-section>
        <app-content-section iconUrl="assets/content-section/icon-estrela.svg" title="Filtros">
            <app-card-filter></app-card-filter>
        </app-content-section>
        <app-content-section iconUrl="assets/header/notification-icon.svg" title="Notificações">
            <app-card-notification></app-card-notification>
        </app-content-section>
    </div> 
</div>
