.Painel-de-controle-tendencias {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #EDF2F1;
    padding: 1.7rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.kpis-cards {
    display: flex;
    gap: 2rem;
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40rem;
    max-height: 15rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.header-filtro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.2rem;
    gap: 4rem;
    font-size: 1rem;
    border-bottom: 2px solid #D9D9D9;
}

.filtro-icon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
}

.header-filtro #nome-filtro {
    color: #737373;
    font-size: 1.7rem;
    font-weight: 600;
    width: 11rem;
    text-align: center;
}

.icons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.7rem;
    height: 3rem;
}

.icons-header div {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color 0.1s, transform 0.2s ease;
}

#favoritar:hover {
    background-color: #dfd479;
    transform: scale(1.2);
    cursor: pointer;
}

#excluir:hover {
    background-color: #e57373;
    transform: scale(1.2);
    cursor: pointer;
}

#expandir:hover {
    background-color: #a6b3bd;
    transform: scale(1.2);
    cursor: pointer;
}

.graficos-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.8rem;
    padding: 2rem;
}

.grafico1 {
    width: 60rem;
    height: 55rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.grafico1 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #3E5744;
    border-radius: 1rem 1rem 0 0;
    height: 3.4rem;
    color: #FFFFFF;
}

.grafico2 {
    width: 100rem;
    height: 55rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.grafico2 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #3E5744;
    border-radius: 1rem 1rem 0 0;
    height: 3.4rem;
    color: #FFFFFF;
}