body {
    height: 100vh;
}

.section-login {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: initial;
}

.section-login .right-img {
    background-image: url("../../assets/cadastro/imgs/cadastro_background.png");
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-login .sign-page {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.section-login .sign-page header {
    background-color: #3E5744;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-login .sign-page .logo {
    height: 10.8rem;
    width: 30rem;
    background-image: url("../../assets/utilidades/imgs/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-login .sign-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECF0F6;
    height: 100%;
}

.section-login .sign-page .title {
    font-size: 6.8rem;
    margin-bottom: 6.2rem;
    margin-top: 3.6rem
}

.section-login .sign-page .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 46rem;
}

.section-login .sign-page .form .input-wrapper {
    font-size: 2.2rem;
    max-width: 46rem;
    width: 100%;
    position: relative;
}

.section-login .sign-page .form .input-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgb(172, 172, 172);
    transition: border-color 0.3s ease-in-out;
}

.section-login .sign-page .form .input-wrapper input {
    background-color: transparent;
    width: 100%;
}

.section-login .sign-page .form .input-wrapper:focus-within:after {
    border-color: #3E5744;
}

.section-login .sign-page .form .input-wrapper:not(.input-wrapper:last-of-type){
    margin-bottom: 5rem;
}

.section-login .sign-page .form .input-wrapper:last-of-type{
    margin-bottom: 3.9rem;
}

.section-login .sign-page .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.6rem;
}

.section-login .sign-page .btn-wrapper .btn-white {
    padding: 1.6rem 3.5rem;
}

@media screen and (max-width: 480px){
    .section-login .right-img {
        display: none;
    }

    .section-login .sign-page {
        width: 100%;
    }

    .section-login .sign-page .title {
        font-size: 3.8rem;
    }

    .section-login .login-page .login-wrapper {
        padding: 0 1rem;
    }
}
