header {
    background-color: red;
    height: 8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

p, .site-title {
    color: var(--navy-blue);
    font-family: 'Outfit';
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 2.6rem;
}

.logo {
    height: 6rem;
}

.site-title {
    font-size: 3.6rem;
}

.notification-icon {
    width: 3rem;
    height: 3.5rem;
}

.right-side {
    display: flex;
    align-items: center;
}

.btn-notification {
    background-color: transparent;
    margin-right: 1.6rem;
    cursor: pointer;
}

.user {
    display: flex;
    background-color: var(--light-gray);
    border-radius: 3.8rem;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 0.8rem;
    cursor: pointer;
}

.user-img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
    background-color: white;
    margin-right: 2.4rem;
    padding-top: 1rem;
}

.container-username-function {
    padding-right: 1.5rem;
    text-align: start;
}

.line-username-function {
    margin: 0.5rem 0;
    border-bottom: 1px solid black;
}