.kpis-cards {
    display: flex;
    gap: 2.5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E5744;
    border-radius: 1rem 1rem 0 0;
    height: 3.4rem;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.kpi-value {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 3rem;
}

.kpis-cards h3 {    
    color: #FFFFFF;
}

.card-kpi {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 26rem;
    height: 15rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}