<div class="heatmap">
  <div class="mapa">
    <h1 class="titulo">{{titulo()}}</h1>
    <div style="display: flex; justify-content: center">
      @if (mapaBrasilMostrar()) {
        <app-geo-chart-brazil></app-geo-chart-brazil>
      } @else {
        <app-geo-chart-world></app-geo-chart-world>
      }
    </div>
  </div>

  <div class="filtro">
    <div class="header-filtro">
        <div class="header-filtro-option">
        <h1>Visualizar dados de:</h1>
      <select class="select-ano">
         <option value="#"></option>
        <option value="2025">2025</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
      </select>
        </div>
      <button (click)="trocarHeatMap()">{{botaoHeatMap()}}</button>
    </div>

    <div class="ranking-card">
      <h2>{{ranking()}}</h2>
      <ul class="ranking-list">
        <!-- espaço para colocar o grafico -->
      </ul>
    </div>
  </div>
</div>
