<header>
  <nav>
    <img src="assets/icons/misc/logo.svg" alt="" class="logo" />
    <p class="site-title">{{headerTitleService.headerTitle()}}</p>
    <div class="right-side">
      <button class="btn-notification" style="display: none;">
        <img src="assets/header/notification-icon.svg" class="notification-icon" />
      </button>
      <button class="user" (click)="togglePopup()">
        <img src="{{userImg()}}" class="user-img" />
        <div class="container-username-function">
          <p class="username">{{username | titlecase}}</p>
        </div>
        <img src="assets/icons/actions/icon-arrow-down.svg" class="arrow-icon" />
      </button>
    </div>
  </nav>
</header>
@if (isPopupVisible()) {
  <app-pup-up (mouseenter)="mouseEntered()" (mouseleave)="mouseLeft()"></app-pup-up>
}
