header {
    background-color: var(--light-green);
    height: 8rem;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

p, .site-title {
    color: var(--navy-blue);
    font-weight: 400;
    font-family: 'Outfit';
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 2.6rem;
}

.logo {
    height: 6rem;
}

.site-title {
    font-size: 3.6rem;
}

.notification-icon {
    width: 3rem;
    height: 3.2rem;
}

.right-side {
    display: flex;
    align-items: center;
}

.btn-notification {
    background-color: transparent;
    margin-right: 1.6rem;
    cursor: pointer;
}

.user {
    display: flex;
    background-color: #ffff;
    border-radius: 3.8rem;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 0.8rem;
    cursor: pointer;
}

.user-img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
    background-color: #ffff;
    margin-right: 2.4rem;
}

.container-username-function {
    padding-right: 1.5rem;
    text-align: start;
    font-size: 1.6rem;
}

.line-username-function {
    margin: 0.5rem 0;
    border-bottom: 1px solid black;
}