.card-event-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.card-event {
    background-color: white;
    display: flex;
    min-width: 30rem;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-event:hover .buttons {
    visibility: initial;
}

.color-bar {
    width: 1.5rem;
    border-radius: 1.5rem;
}

.text {
    max-width: 24.8rem;
    margin-right: 2.3rem;
    margin-left: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow-wrap: break-word;
}

.card-name {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 2%;
}

.card-description {
    color: #737373;
    font-size: 2rem;
    overflow-wrap: break-word;
}

.date-and-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1.6rem;
}

.dot-status {
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    background-color: var(--lake-green);
}

.internal {
    width: 100%;
    display: flex;
    padding: 1.2rem 1rem 1.2rem 0;
}

.date-end {
    color: #737373;
    font-size: 1.6rem;
}

.buttons {
    display: flex;
    visibility: hidden;
    align-items: center;
    gap: 2rem;
    justify-content: end;
}

.btn-icon {
    background-color: transparent;
    cursor: pointer;
}

.btn-icon:hover {
    scale: 1.05;
}



