<div class="card-event-wrapper">
    @for (event of eventList(); track $index) {
        <div class="card-event" id="{{event.ID_EVENTOS+'_id_card_event'}}">
            <span class="color-bar" [style.backgroundColor]="event.COR"></span>
            <div class="internal">
                <div class="text">
                    <h2 class="card-name">{{event.NOME}}</h2>
                    <p class="card-description">{{event.DESCRICAO}}</p>
                </div>
                <div class="date-and-options">
                    <div class="top">
                        <span class="date-end">{{getDateObject(event.DATA_INICIO) | date: "dd/MM/yyyy"}}</span>
                        <p>-</p>
                        <span class="date-end">{{getDateObject(event.DATA_TERMINO) | date: "dd/MM/yyyy"}}</span>
                    </div>
                    @if(showButtons()){
                        <div class="buttons">
                            <button class="icon-edit btn-icon" (click)="editEvent(event)">
                                <img src="assets/icons/actions/icon-edit.svg" alt="">
                            </button>
                            <button class="icon-trash btn-icon">
                                <img src="assets/icons/actions/icon-trash.svg" (click)="deleteEvent(event)">
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
