:host {
  display: block;
  width: 100%;
  height: 80%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 139rem;
  min-height: 100%;
  margin: 0;
  padding: 2rem;
  background-image: url("/dashboard/assets/configuracoes-perfil/img-fundo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.card {
  background-color: #f0f4fa;
  border-radius: 3rem;
  padding: 4rem 3rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 45rem;
  height: 60rem;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 2rem;
}

.menu-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.menu-icon img {
  width: 2rem;
  cursor: pointer;
}

.profile-picture {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.profile-picture img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-icon {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.edit-icon img {
  width: 20px;
}

.card h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #002d40;
}

.card h3 {
  margin-top: 0.2rem;
  font-size: 1.5rem;
  color: #444;
}

.contact-info {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.alterar-senha-link {
  text-align: center;
  margin-top: 15px;
  color: #555;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.button-alterar {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #4c73ff;
  color: white;
  border: 2rem;
  border-radius: 10rem;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 10rem;
}

button:hover {
  background-color: #3a5fe0;
}
