.sidebar {
    position: absolute;
    top: 8rem;
    left: 0;
    height: calc(100% - 8rem);
    width: 2;
    background-color: var(--lake-green);
    display: flex;
    justify-content: center;
    width: 9rem;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.sidebar .top {
    margin-top: 3rem;
    margin-bottom: 7rem;
}

nav, ul {
    width: 100%;
}

ul {
    display: flex;
    gap: 6rem;
    flex-direction: column;
}

li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.icon-text {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon-text .nav-text {
    display: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    max-width: 7rem;
}

li svg {
    margin: 0.8rem 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active-route,
li:hover,
.top:hover {
    background-color: white;
}
.active-route .nav-text,
li:hover .nav-text,
.top:hover i.bi {
    color: var(--navy-blue);
    transition: all 0.3s ease-in-out;
}

.active-route #icon-color.stroke,
li:hover #icon-color.stroke
{
    stroke: var(--navy-blue)
}

.active-route #icon-color.fill,
li:hover #icon-color.fill
{
    fill: var(--navy-blue);
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

#icon-color.fill {
    fill: white;
    transition: fill 0.3s ease-in-out;
}

#icon-color.stroke {
    stroke: white;
    transition: stroke 0.3s ease-in-out;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
}

.options p {
    position: relative;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #1C274C;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.options p:hover {
    background-color: var(--light-green);
}

.options p:hover::after {
    content: "";
    position: absolute;
    top: -0.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

i.bi {
    color: white;
    font-size: 4rem;
}
